<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WLS - Fetch Blog</title>
  <meta name="description" content="Web Services Examnple">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="css/app.css">

  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  <!-- SERVICE CONTROLLER -->
  <div ng-cloak ng-controller="ServiceCtrl">
    <div class="wls-home"><a href='/'>Back</a></div>
    <div class="wls-copy">
      Creating a Service Controller that makes a Web Services call to
      <a href="http://woodylewis.com" target="_blank">my blog</a> and retrieves
      a JSON payload of all published posts. 
      <p>The controller stores the payload, making it available whenever the show/hide state is toggled. Clicking a link opens a separate page. 
      <p>(To do: open an overlay instead.)
      <p><a href="https://github.com/woodylewis/wls-fetch-blog" target="_blank">GitHub Repo</a>
    </div>
    <button type="button" class="btn btn-primary" ng-click="toggle()">Show/Hide Blog Posts</button>
    <div class="wls-blog-list" ng-show="showPosts">
      <div ng-repeat="post in posts">
        <div class='wls-blog-container'>
          <a ng-href="http://woodylewis.com/node/{{post.nid}}" target="_blank">{{post.title}}</a>
        </div>
    </div>
    </div>
  </div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="app.js"></script>
  <script src="services/services.js"></script>
</body>
</html>
